name: FE | QA - Cleanup

on:
  # delete:
  #   branches:
  #     - 'release/**'

  workflow_dispatch:
    inputs:
      version:
        description: '삭제할 QA branch 이름'
        required: true
        type: string

jobs:
  cleanup:
    name: Cleanup PR Deployment
    runs-on: [self-hosted, fe, qa]

    steps:
      - name: Set dynamic variables
        id: vars
        run: |
          VERSION=$(echo "${{ github.event.inputs.version || github.ref_name }}" | sed 's/release\///g')
          CLEAN_VERSION=$(echo "$VERSION" | tr '.' '-')
          SERVICE_NAME="be-qa-${CLEAN_VERSION}"

          echo "service_name=$SERVICE_NAME" >> $GITHUB_OUTPUT

      - name: Cleanup server resources
        run: |
          SERVICE_NAME=${{ steps.vars.outputs.service_name }}
          DEPLOY_PATH="${{ secrets.DOCKER_DIR }}/deployments/$SERVICE_NAME"
            
          echo "[LOG] Attempting to cleanup project: $SERVICE_NAME"
          # Attempt to stop and remove with container name and fallback
          docker stop "$SERVICE_NAME" || echo "[LOG] Container $SERVICE_NAME not found or already stopped."
          docker rm "$SERVICE_NAME" || echo "[LOG] Container $SERVICE_NAME not found or already removed."
            
          # 2. Cleanup deploy directory
          if [ -d "$DEPLOY_PATH" ]; then
            echo "[LOG] Removing deployment directory: $DEPLOY_PATH"
            rm -rf "$DEPLOY_PATH"
          else
            echo "[LOG] Deployment directory not found: $DEPLOY_PATH"
          fi
            
          echo "[LOG] Cleanup for $SERVICE_NAME finished"
