name: FE | Staging - Cleanup
on:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-staging'
  cancel-in-progress: true

env:
  SERVICE_NAME: fe-staging
  DEPLOY_PATH: ${{ secrets.DOCKER_DIR }}/deployments/fe-staging

jobs:
  cleanup:
    name: Cleanup Staging Deployment
    runs-on: [self-hosted, fe, qa]

    steps:
      - name: Cleanup server resources
        run: |
          export SERVICE_NAME=${{ env.SERVICE_NAME }}
          export DEPLOY_PATH=${{ env.DEPLOY_PATH }}
            
          echo "[LOG] Attempting to cleanup staging project: $SERVICE_NAME"
          docker stop "$SERVICE_NAME" || echo "[LOG] Container $SERVICE_NAME not found or already stopped."
          docker rm "$SERVICE_NAME" || echo "[LOG] Container $SERVICE_NAME not found or already removed."
            
          if [ -d "$DEPLOY_PATH" ]; then
            echo "[LOG] Removing deployment directory: $DEPLOY_PATH"
            rm -rf $DEPLOY_PATH
          else
            echo "[LOG] Deployment directory not found: $DEPLOY_PATH"
          fi
            
            echo "[LOG] Cleanup for $SERVICE_NAME finished"
